@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

:root {
  --font-size: 1.5rem;
}
* {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: #56ccf2;
  background: linear-gradient(180deg, #2f80ed, #56ccf2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: var(--font-size);
  color: white;
  padding: 1rem;
}
.night-theme {
  background: #000428;
  background: linear-gradient(180deg, #004e92, #000428);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hidden {
  display: none !important;
}
.visible {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  justify-content: center;
  animation: slideIn 0.4s ease-in-out;
}
.search-input {
  background-color: white;
  padding: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 2rem;
  outline: none;
  border: none;
  width: 100vw;
}
.search-bar button {
  font-size: 1.5rem;
  background-color: white;
  color: #2f80ed;
  border: none;
  outline: none;
  height: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.temp {
  display: flex;
  flex-direction: column;
}
.temp-main {
  font-size: calc(var(--font-size) * 4);
  font-weight: 500;
}
.temp-min-max {
  display: flex;
  gap: 1.25rem;
}
.temp-max,
.temp-min {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: calc(var(--font-size) * 0.8);
}
.other {
  display: flex;
  flex-direction: column;
}
.other p {
  margin: 0;
}
.feels-like {
  font-size: calc(var(--font-size) * 0.8);
  color: rgb(201, 201, 201);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
